{% extends 'lifts/base.html' %}
{% block content %}
<h1>{{ elevator.get_elevator_display }}</h1>
<h2>Информация о лифте:</h2>
<ul class="list-group">
    <li class="list-group-item">Здание: {{ elevator.buildings.first.get_address_display }}</li>
</ul>

<h2>Проблемы:
    <a href="{% url 'lifts:problem_form' elevator.id %}" class="btn btn-primary btn-sm">Добавить</a>
</h2>
<ul class="list-group">
    {% for problem in problems %}
    <li class="list-group-item">
        {{ problem.problem }}
        {% if problem.resolved %}
        <span class="badge badge-success">Решено</span>
        {% else %}
        <span class="badge badge-danger">Не решено</span>
        <br>
        <form method="post" action="{% url 'lifts:problem_resolve' problem.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Решено</button>
        </form>
        {% endif %}
    </li>
    {% empty %}
    <li class="list-group-item">Нет проблем</li>
    {% endfor %}
</ul>

<h2>Ремонты:
    <a href="{% url 'lifts:replacement_form' elevator.id %}" class="btn btn-primary btn-sm">Добавить</a>
</h2>
<ul class="list-group">
    {% for replacement in replacements %}
    <li class="list-group-item">
        {{ replacement.info_problem }}
        {% if replacement.resolved %}
        <span class="badge badge-success">Решено</span>
        {% else %}
        <span class="badge badge-danger">Не решено</span>
        <br>
        <form method="post" action="{% url 'lifts:replacement_resolve' replacement.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Решено</button>
        </form>
        {% endif %}
    </li>
    {% empty %}
    <li class="list-group-item">Нет ремонтов</li>
    {% endfor %}
</ul>

<h2>ТО:
    <form method="post" action="{% url 'lifts:to_auto_create' elevator.id %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
    </form>
</h2>
<ul class="list-group">
    {% for to in tos %}
    <li class="list-group-item">
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ to.date }}
    </li>
    {% empty %}
    <li class="list-group-item">Нет данных о ТО</li>
    {% endfor %}
</ul>

<a class="btn btn-secondary btn-sm w-100 mt-2" href="{% url 'lifts:building_detail' elevator.buildings.first.id %}">Назад
    к списоку лифтов в здании</a>
{% endblock %}
