{% extends 'lifts/base.html' %}
{% block content %}
<h1>{{ employee }} Начальник участка: {{ employee.created_by }}</h1>

<p><strong>Ф. И. О.:</strong> {{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</p>
<p><strong>Должность:</strong> {{ employee.position }}</p>
<p><strong>Телефон:</strong> {{ employee.phone }}</p>
<br><p><strong>Паспортные данные</strong></p>
<p><strong>Серия/Номер паспорта:</strong> {{ employee.serial }} {{ employee.number }}</p>
<p><strong>Кем выдан:</strong> {{ employee.issued_by }}</p>
<p><strong>Когда выдан:</strong> {{ employee.issued_when }}</p>
<p><strong>Дата рождения:</strong> {{ employee.date_of_birth }}</p>
<p><strong>Место рождения:</strong> {{ employee.place_of_birth }}</p>
<p><strong>Адрес регистрации:</strong> {{ employee.addres_registration }}</p>
<p><strong>Дата регистрации:</strong> {{ employee.date_registration }}</p>
<br><p><strong>Документы</strong></p>
<p><strong>СНИЛС:</strong> {{ employee.snils }}</p>
<p><strong>ИНН:</strong> {{ employee.inn }}</p>
<br><p><strong>Где живёт</strong></p>
<p><strong>Метро:</strong> {{ employee.metro }}</p>
<p><strong>Адрес проживания:</strong> {{ employee.residential_address }}</p>
<br><p><strong>Образование</strong></p>
<p><strong>Образование:</strong> {{ employee.education }}</p>
<p><strong>ЦОК:</strong> {{ employee.cok }}</p>
<p><strong>Аттестация:</strong> {{ employee.attestation }}</p>
<p><strong>Дата приема на работу:</strong> {{ employee.hire_date }}</p>
<p><strong>Дата увольнения:</strong> {{ employee.date_of_termination }}</p>
<p><strong>Причина увольнения:</strong> {{ employee.termination_reason }}</p>
<a href="{% url 'itr:employee_list' %}">Назад к списку сотрудников</a>
{% endblock %}